$content-font-color: #333;
$grey-background: #f5f5f5;
$grey-font: #b7b7b7;
$red-highlight-color: #e93b3b;
$blue-button-color: #0091ff;
$dark-background: rgba(0, 0, 0, 0.5);
$grey-icon-color: #666;
$light-blue: #4fb0f9;
%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// @mixin ellipsis {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
